/*Color variables*/
$black: #000;
$white: #fff;
$red: #f44;
$blue: #3A84FF;
$orange: #ff976a;
$green: #07c160;
$gray: #c8c9cc;
$gray-light: #e5e5e5;
$gray-darker: #7d7e80;
$gray-dark: #969799;

/*font size*/
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;

/* Default colors */
$text-color: #313238;
$text-color-light: #666;
$border-color: #E7E8E7;
$background-color: #F2F2F2;
