@import '../../static/style/var';
/*全局*/
a{
    color: $blue;
}

.page-view{
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
}
/*search*/
.bk-search{
    background-color: #F4F7FA;
    padding: 16px 25px;

    .van-search__content{
        background-color: rgba(142,142,147,0.12);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        .van-cell{
            padding: 6px 10px 6px 0;

            .van-field__left-icon{
                color: #8E8E93;
            }
        }
    }
}
/*列表页*/
.bk-block{
    .van-cell:not(:last-child):after{
        left: 25px;
        right: 25px;
        border-bottom-color: $border-color;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    &-title {
        margin: 0;
        font-weight: 400;
        font-size: $fs-12;
        color: #999;
        padding: 0 25px;
        height: 30px;
        line-height: 30px;
    }
    .van-cell{
        padding: 14px 25px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        color: $text-color;

        &__title{
            overflow: hidden;
        }
        .bk-text{
            font-size: $fs-16;
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .bk-name,.bk-time{
            font-size: $fs-12;
            color: #C4C6CC;
            line-height: 18px;
        }
        .star-icon{
            font-size: $fs-16;
            color: #e1e1e1;
            width: 30px;
            text-align: right;
        }
        .collection{
            color: #dba871;
        }
        .task-icon{
            font-size: $fs-16;
            width: 30px;
            text-align: right;
        }
        .checked{
            color: #2fca55;
        }
        .close{
            color: #ea3636;
        }
        .more{
            color: #3a84ff;
        }
        .pause{
            color: #ff9c01;
        }
        .circle:before{
            content: "";
            width: 14px;
            height: 14px;
            background-color: #979ba5;
            border-radius: 50%;
        }
    }
}

/*详情页*/
.bk-text-title{
    font-size: $fs-12;
    color: #999;
    padding: 20px 25px 7px 25px;
    margin: 0;
    font-weight: 400;
}
.bk-text-list{
    .van-cell:not(:last-child):after{
        border-bottom-color: #F1F4F8;
    }
    .van-cell__title{
        max-width: 120px;
    }
    .van-cell__value{
        text-align: left;
        color: $text-color-light;
        .van-field__control{
            color: $text-color-light;
        }
    }
}
/*popup*/
.van-overlay{
    background-color: rgba(0, 0, 0, 0.2);
}
.van-picker__cancel{
    color: #979BA5;
}
.van-picker__confirm{
    color: $blue;
}
.van-picker-column{
    font-size: $fs-14;

    &__item{
        color: #9FA5AB;
    }
    &__item--selected{
        color: $text-color;
    }
}
/*1px 边框*/
[class*="van-hairline"]:after {
    border-color: #E1E0E2;
}
/*btn*/
.btn-group{
    margin: 30px 25px;
    display: flex;

    .van-button{
        border-radius: 4px;

        + .van-button{
            margin-left: 10px;
        }
    }
}
.van-button--default{
    border-color: #C4C6CC;
    color: $text-color;
}
.van-button--info{
    background-color: $blue;
    border-color: $blue;
}
/*dialog*/
.van-dialog__message{
    font-size: $fs-16;
}
.van-dialog__cancel{
    color: #979BA5;
}
.van-dialog__confirm, .van-dialog__confirm:active{
    color: $blue;
}
/*执行任务状态*/
.task-status{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 10px;
    text-align: center;
    font-size: $fs-14;
}
.task-status.info{
    background: #CFDFFB;
    border-bottom-color: #C0D4F8;
    color: $blue;
}
.task-status.warning{
    background: #FFE8C3;
    border-bottom-color: #E6CFAA;
    color: #D78300;
}
.task-status.danger{
    background: #F2D0D3;
    border-bottom-color: #EFB9BE;
    color: #EA3636;
}
/*标签栏*/
.van-tabbar{
    background-color: $background-color;

    .van-tabbar-item__icon{
        font-size: 22px;
        margin-bottom: 0;

        .icon-pause,.icon-pause{
            color: $blue;
        }
        .icon-revoke{
            color: #EA3636;
        }
        .icon-file{
            color: #4E4E4E;
        }
        .disabled{
            opacity: 0.4;
        }
    }

    &:after{
        border-color: #E5E5E5;
    }
}
