// Color variables
$black: #000;
$white: #fff;
$red: #f44;
$blue: #3A84FF;
$orange: #ff976a;
$orange-dark: #ed6a0c;
$orange-light: #fffbe8;
$green: #07c160;
$gray: #c8c9cc;
$gray-light: #e5e5e5;
$gray-darker: #7d7e80;
$gray-dark: #969799;

// Default colors
$text-color: #313238;
$border-color: #E7E8E7;
$active-color: #f2f3f5;
$background-color: #F2F2F2;
$background-color-light: #fafafa;


// Button
$button-info-color: $white;
$button-info-background-color: $blue;
$button-info-border-color: $blue;



// Overlay
$overlay-background-color: rgba(0, 0, 0, 0.7);


// Search
$search-background-color: #f7f8fA;

