// Color variables
$black: #000;
$white: #fff;
$red: #f44;
$blue: #3A84FF;
$orange: #ff976a;
$green: #07c160;
$gray: #c8c9cc;
$gray-light: #e5e5e5;
$gray-darker: #7d7e80;
$gray-dark: #969799;

//font size
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;

// Default colors
$text-color: #313238;
$text-color-light: #979BA5;
$border-color: #E7E8E7;
$active-color: #f2f3f5;
$background-color: #F2F2F2;
$background-color-light: #fafafa;


// Button
$button-info-color: $white;
$button-info-background-color: $blue;
$button-info-border-color: $blue;

// NavBar
$nav-bar-height: 60px;
$nav-bar-background-color:$black;
$nav-bar-arrow-size: 16px;
$nav-bar-icon-color: $blue;
$nav-bar-text-color: $blue;
$nav-bar-title-font-size: 16px;
$nav-bar-title-text-color: $text-color;

// Overlay
$overlay-background-color: rgba(0, 0, 0, 0.7);


// Search
$search-background-color: #F4F7FA;
