@import './config.scss';
@import './reset.scss';
@import './iconfont.scss';
@import './button.scss';
@import './animation/slide.scss';
@import './mixins/clearfix.scss';
@import './common.scss';
@import './magicboxfix.scss';

body {
    color: #333333;
    background: #f4f7fa;
    font-family: 'Microsoft YaHei','PingFang SC','Hiragino Sans GB','SimSun','sans-serif';
}

.clearfix {
    @include clearfix;
}