// color settings
$whiteDefault: #ffffff;
$whiteMainBg: #f5f5f5;
$whiteNodeBg: #fafafa;
$whiteCanvasBg: #fcfbfb;
$whitePanelBg: #fefcfc; 
$whiteDash: #f4f3f8;
$whiteThinBg: #f7f9fa;

$blackDefault: #000000;
$blackBack: #2a2a2a;
$black: #333333;

$blueDefault: #3c96ff;
$blueDark: #52699d;
$blueDisable: #878c9c;
$blueThinBg: #93c2f5;
$blueDarkBg: #afd3ff;
$blueStatus: #d9e8f8;
$blueDashBg: #edf4fd;
$blueNavBg: #f0f7ff;

$redDefault: #ff5757;
$redDark: #ff2602;

$yellowDefault: #f8b53f;
$yellowBg: #f4aa1a;

$greenDefault: #30d878;
$greenDark: #00c873;

$greyDefault: #666666;
$greyDark: #999999;
$greyDisable: #cfcccc;
$greyStatus: #727272;
$greySkip: #ced1d6;
$greyDash: #f0f1f2;

$commonBgColor: #f2f2f2;
$commonBorderColor: #dddddd;
$formBorderColor: #c3cdd7;
$stepNavColor: #dde4eb;


