@font-face {
    font-family: 'commonicon';
    src: url('./assets/fonts/commonicon.eot?bdoeg4');
    src: url('./assets/fonts/commonicon.eot?bdoeg4#iefix')
            format('embedded-opentype'),
        url('./assets/fonts/commonicon.ttf?bdoeg4') format('truetype'),
        url('./assets/fonts/commonicon.woff?bdoeg4') format('woff'),
        url('./assets/fonts/commonicon.svg?bdoeg4#commonicon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^='common-icon'],
[class*=' common-icon'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'commonicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.bk-icon {
        font-family: 'commonicon' !important;
    }
}

.common-icon-add:before {
    content: '\e900';
}
.common-icon-arrow-down:before {
    content: '\e901';
}
.common-icon-black-box:before {
    content: '\e902';
}
.common-icon-black-figure:before {
    content: '\e903';
}
.common-icon-black-hook:before {
    content: '\e904';
}
.common-icon-blueking:before {
    content: '\e905';
}
.common-icon-box-top-right-corner:before {
  content: "\e906";
}
.common-icon-box:before {
  content: "\e907";
}
.common-icon-circulation:before {
    content: '\e909';
}
.common-icon-clock-inversion:before {
  content: "\e909";
}
.common-icon-clock-reload:before {
  content: "\e90a";
}
.common-icon-clock:before {
  content: "\e90b";
}
.common-icon-close:before {
    content: '\e90d';
}
.common-icon-dark-circle-avatar:before {
    content: '\e90e';
}
.common-icon-dark-circle-close:before {
    content: '\e90f';
}
.common-icon-dark-circle-ellipsis:before {
    content: '\e910';
}
.common-icon-dark-circle-i:before {
    content: '\e911';
}
.common-icon-dark-circle-pause:before {
    content: '\e912';
}
.common-icon-dark-circle-question:before {
    content: '\e913';
}
.common-icon-dark-circle-r:before {
    content: '\e914';
}
.common-icon-dark-circle-s:before {
    content: '\e915';
}
.common-icon-dark-circle-shape:before {
    content: '\e916';
}
.common-icon-dark-circle-warning:before {
    content: '\e917';
}
.common-icon-dark-paper:before {
    content: '\e918';
}
.common-icon-done-thin:before {
    content: '\e919';
}
.common-icon-double-arrow:before {
    content: '\e91a';
}
.common-icon-double-paper:before {
    content: '\e91b';
}
.common-icon-double-vertical-line:before {
    content: '\e91c';
}
.common-icon-drag:before {
    content: '\e91d';
}
.common-icon-dustbin:before {
  content: "\e91d";
}
.common-icon-edit:before {
  content: "\e91e";
}
.common-icon-eye-close:before {
  content: "\e91f";
}
.common-icon-eye-open:before {
  content: "\e920";
}
.common-icon-flag-circle:before {
  content: "\e921";
}
.common-icon-four-square:before {
  content: "\e922";
}
.common-icon-gray-edit:before {
  content: "\e923";
}
.common-icon-left-pin:before {
  content: "\e924";
}
.common-icon-link:before {
  content: "\e925";
}
.common-icon-loading:before {
  content: "\e926";
}
.common-icon-lock-closed:before {
  content: "\e927";
}
.common-icon-lock-opened:before {
  content: "\e928";
}
.common-icon-lock-opening:before {
  content: "\e929";
}
.common-icon-marquee:before {
  content: "\e92a";
}
.common-icon-no-data:before {
  content: "\e92b";
}
.common-icon-node-branchgateway:before {
  content: "\e92c";
}
.common-icon-node-convergegateway:before {
  content: "\e92d";
}
.common-icon-node-parallelgateway:before {
  content: "\e92e";
}
.common-icon-node-subflow:before {
  content: "\e92f";
}
.common-icon-node-tasknode:before {
  content: "\e930";
}
.common-icon-paper:before {
  content: "\e931";
}
.common-icon-pen:before {
  content: "\e932";
}
.common-icon-reduction:before {
  content: "\e933";
}
.common-icon-return-arrow:before {
  content: "\e934";
}
.common-icon-right-triangle:before {
  content: "\e935";
}
.common-icon-search:before {
  content: "\e936";
}
.common-icon-solid-eye:before {
  content: "\e937";
  color: #979ba5;
}
.common-icon-source-in:before {
  content: "\e938";
}
.common-icon-source-out:before {
  content: "\e939";
}
.common-icon-square-attribute:before {
  content: "\e93a";
}
.common-icon-square-code:before {
  content: "\e93b";
}
.common-icon-tooltips:before {
  content: "\e93c";
}
.common-icon-zoom-in:before {
  content: "\e93d";
}
.common-icon-zoom-out:before {
  content: "\e93e";
}
.common-icon-zoom-out:before {
    content: '\e943';
}
