.ui-task-status {
    width: 105px;
    text-align: left;
    .common-icon-dark-circle-shape {
        display: inline-block;
        font-size: 12px;
        color: #979BA5;
        vertical-align: middle;
    }
    .common-icon-dark-circle-ellipsis {
        color: #3c96ff;
        font-size: 12px;
        vertical-align: middle;
    }
    .icon-check-circle-shape {
        font-size: 12px;
        color: $greenDefault;
        vertical-align: middle;
    }
    .common-icon-dark-circle-close {
        color: $redDefault;
        font-size: 12px;
        vertical-align: middle;
    }
    &.revoke {
        color: $blueDisable;
    }
    .common-icon-loading {
        display: inline-block;
        animation: bk-button-loading 1.4s infinite linear;
    }
    @keyframes bk-button-loading {
        from {
            -webkit-transform: rotate(0);
            transform: rotate(0); }
        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    .task-status-text {
        display: inline-block;
        vertical-align: middle;
    }
}