<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ REMOTE_STATIC_URL }}v3/components/dataflow2/css/jsPlumbToolkit-defaults.css"/>
    <link rel="stylesheet" href="{{ REMOTE_STATIC_URL }}v3/components/dataflow2/css/jsPlumbToolkit-demo.css"/>
    <link rel="stylesheet" href="{{ REMOTE_STATIC_URL }}v3/assets/bk-icon-2.0/iconfont.css">
    <link rel="stylesheet" href="{{ REMOTE_STATIC_URL }}v3/assets/bootstrap-3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ REMOTE_STATIC_URL }}v3/assets/daterangepicker-2.0.5/daterangepicker.css">
    <link rel="stylesheet" href="{{ REMOTE_STATIC_URL }}v3/assets/select2-3.5.2/select2.css">
    <link rel="stylesheet" href="{{ REMOTE_STATIC_URL }}v3/assets/bkDialog-2.0/css/bkDialog.css">
    <link rel="stylesheet" href="{{ REMOTE_STATIC_URL }}v3/bk/css-pro/bk.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}pipeline/dist/css/index.css?v={{ STATIC_VERSION }}"/>
    <link rel="stylesheet" href="{{ REMOTE_STATIC_URL }}v3/assets/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ REMOTE_STATIC_URL }}v3/assets/json-1.0.2/index.css">
    <link rel="stylesheet" href="{{ REMOTE_STATIC_URL }}v3/assets/toastr-2.1.2/toastr.min.css">
</head>
<body>
    <div class="pipeline_container">
        <div id="pipeline"></div>
    </div>

    <script>
        var site_url = '{{ SITE_URL }}';
        var static_url = '{{ STATIC_URL }}';
        var static_version = '{{ STATIC_VERSION }}';
        var remote_static_url = '{{ REMOTE_STATIC_URL }}';
    </script>

    <script src="{{ REMOTE_STATIC_URL }}v3/assets/js/jquery-1.10.2.min.js"></script>
    <script src="{{ REMOTE_STATIC_URL }}v3/assets/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>    
    <script src="{{ STATIC_URL }}pipeline/dist/js/vue.js?v={{ STATIC_VERSION }}"></script>
    <script src="{{ REMOTE_STATIC_URL }}v3/components/dataflow2/js/jsplumb.min.js"></script>
    <script src="{{ REMOTE_STATIC_URL }}v3/assets/daterangepicker-2.0.5/moment.min.js"></script>
    <script src="{{ REMOTE_STATIC_URL }}v3/assets/daterangepicker-2.0.5/daterangepicker.js"></script>
    <script src="{{ REMOTE_STATIC_URL }}v3/assets/select2-3.5.2/select2.js"></script>
    <script src="{{ REMOTE_STATIC_URL }}v3/assets/bkMessage-1.0/js/bkMessage.js"></script>
    <script src="{{ STATIC_URL }}pipeline/dist/js/bkDialog.js?v={{ STATIC_VERSION }}"></script>
    <script src="{{ REMOTE_STATIC_URL }}v3/assets/validate-1.14.0/js/jquery.validate.js"></script>
    <script src="{{ REMOTE_STATIC_URL }}v3/assets/json-1.0.2/jquery.json.js"></script>
    <script src="{{ REMOTE_STATIC_URL }}v3/assets/json-1.0.2/jsonlint.js"></script>
    <script src="{{ REMOTE_STATIC_URL }}v3/assets/toastr-2.1.2/toastr.min.js"></script>
    <script src="{{ STATIC_URL }}components/formGenerator.js?v={{ STATIC_VERSION }}"></script>
    <script src="{{ STATIC_URL }}pipeline/dist/js/dataflow.js?v={{ STATIC_VERSION }}"></script>
    <script src="{{ STATIC_URL }}pipeline/dist/js/pipeline.js?v={{ STATIC_VERSION }}"></script>
    
    <script>

        // pipeline初始化
        $('#pipeline').pipeline({
            type: 'instance',
            urls: {
                homelist: site_url + 'pipeline/',
                component: site_url + 'pipeline/api/v1/components/',
                instance: site_url + 'pipeline/api/v1/instances/',
                instanceStart: site_url + 'pipeline/api/v1/act/instances/start/',
                instancePause: site_url + 'pipeline/api/v1/act/instances/pause/',
                instanceRevoke: site_url + 'pipeline/api/v1/act/instances/revoke/',
                instanceResume: site_url + 'pipeline/api/v1/act/instances/resume/',
                instanceModify: site_url + 'pipeline/api/v1/inputs/modify/instance/',
                getInstanceStatus: site_url + 'pipeline/api/v1/status/',
                nodeRetry: site_url + 'pipeline/api/v1/act/nodes/retry/',
                nodeSkip: site_url + 'pipeline/api/v1/act/nodes/skip/',
                nodeActInfo: site_url + 'pipeline/api/v1/data/act/',
                nodeActDetails: site_url + 'pipeline/api/v1/detail/act/',
                skipExclusiveGateway: site_url + 'pipeline/api/v1/act/nodes/skip_exg/',
                resumePauseNode: site_url + 'pipeline/api/v1/act/nodes/call_back/',
                pauseSubProcess: site_url + 'pipeline/api/v1/act/nodes/pause_subproc/',
                resumeSubProcess: site_url + 'pipeline/api/v1/act/nodes/resume/',
                setSleepNode: site_url + 'pipeline/api/v1/spec/timer/reset/',
            },
            context: {
                site_url: site_url,
                biz_cc_id: '215',
            }
        })

    </script>

    </body>
</html>
