.error-page[data-v-45d0d847]{padding-top:150px}.error-page .pic-wrapper[data-v-45d0d847]{text-align:center}.error-page .pic-wrapper .error-pic[data-v-45d0d847]{width:360px;height:168px}.error-page .content-wrapper[data-v-45d0d847]{margin:0 auto;width:500px}.error-page .content-wrapper[data-v-45d0d847] .error-title{margin:10px 0;font-weight:bold}

