.analysis-empty-data {
    margin-left: -10%;
    height: 600px;
}
.analysis-plotly-class {
    margin-left: 10%;
}
.analysis-date-picker {
    min-width: 530px;
}
.analysis-select {
    min-width: 290px;
}