name: Unittest

on:
  push:
    branches: [ master, develop, release*, feature* ]
  pull_request:
    branches: [ master, develop, release*, feature* ]

jobs:
  build:

    runs-on: ubuntu-22.04
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        # prepare env
        source scripts/develop/sites/community/env.sh
        export APP_ID="bk_sops"
        export APP_TOKEN="{APP_TOKEN}"
        export BK_PAAS_HOST="BK_PAAS_HOST"
        export BK_CC_HOST=""
        export BK_JOB_HOST=""
        export RUN_VER="open"
        export OPEN_VER="community"
        export BKAPP_AUTO_UPDATE_VARIABLE_MODELS="0"
        export BKAPP_AUTO_UPDATE_COMPONENT_MODELS="0"
        export BK_IAM_HOST="BK_IAM_HOST"
        export BK_API_URL_TMPL="BK_API_URL_TMPL"
        # add local_settings.py
        echo '# -*- coding: utf-8 -*-
        DATABASES = {
            "default": {
                "ENGINE": "django.db.backends.sqlite3",
                "NAME": "db.sqlite3",
            }
        }

        LOG_LEVEL = "DEBUG"

        BK_IAM_SKIP = 1' > local_settings.py
        # rm pipeline tests, we will not longer need it after integrate with bamboo-engine
        rm -rf pipeline/tests
        # run unittest
        python manage.py test
